footer
	.container
		.row
			.col-lg-4
				img.img-responsive(src="assets/image/logo-grupo-la-republica.png", alt="")
				h4 Grupo La Republica Digital
				p Jr. Camana 320 - Cercado de Lima
				p Telefono: 711-6000
				p (Central Telefonica)

				p Todos los derechos reservados
			.col-lg-8


