section#inicio
	.banner.text-center
		img(src="assets/image/banner_top.jpg", alt="")
	.container
		.row
			.col-md-8.list1
				a(href="#") LIBERO.PE
				a(href="#") EL POPULAR.PE
				a(href="#") FUNDACIÓN GUSTAVO MOHME LLONA
			.col-md-8.suscribe	 
				.col-md-3.boton
					button.btn.btn-danger(type='button') SUSCRIBETE AL BOLETIN
				.col-md-3.social
					a(href="#")
						i.fa.fa-facebook
					a(href="#")
						i.fa.fa-twitter
					a(href="#")
						i.fa.fa-google-plus
					a(href="#")
						i.fa.fa-envelope
					a(href="#")
						i.fa.fa-rss
				.col-md-2.search
					a(href="#") BUSCAR 
					i.fa.fa-search
header
	.container
		.row
			.col-md-6
				img(src="assets/image/logo-la-republica.jpg", alt="logo-la-republica")
			.col-md-4
				.sunday HABLA LA LIDERESA DEL NACIONALISMO
			.col-md-6
				.col-md-4
					img(src="assets/image/img_editorial_text.jpg", alt="")
				.col-md-8
					h4 La Corrupción, los orígenes
					h5 por: Gustavo Mohme Llona	
				.col-md-4
					img(src="assets/image/img_author.jpg", alt="")
	.container
		.row
		ul.nav.navbar-nav
			li.active
				a(href='#') POLITICA
			li
				a(href='#about') ECONOMIA
			li
				a(href='#contact') SOCIEDAD
			li
				a(href='#contact') ELECC. REGIONALES
			li
				a(href='#contact') DEPORTES
			li
				a(href='#contact') CHAMPIONS L.
			li
				a(href='#contact') ESPECTACULOS
			li
				a(href='#contact') ED. IMPRESA
			li
				a(href='#contact') REGIONALES
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
					| MAS SECCIONES 
					span.caret
				ul.dropdown-menu
					li
						a(href='#') TV.
					li
						a(href='#') DOMINICAL
					li
						a(href='#') ESPECIALES
	.container
		.row
			.col-md-3
				h4 TEMAS DEL DIA
			.col-md-13
				a(data-slide="prev" href="#media" class="left carousel-control") <	
				ul.nav.nav-pills.nav-justified
					li
						a(href="#") Globos de oro
					li
						a(href="#") Youtube
					li
						a(href="#") PNP
					li
						a(href="#") Charlie Hebdo
					li
						a(href="#") FC Barcelona
					li
						a(href="#") Alianza Lima
					li
						a(href="#") Balon de Oro
					li
						a(href="#") Alianza Lima
					li
						a(href="#") Balón	
				a(data-slide="next" href="#media" class="right carousel-control") >