#banner
	.container
		img(src="assets/image/banner_top.jpg", alt="_navegan", class="img-responsive")
		.row
			.col-lg-5.col-md-6.col-sm-6-col-xs-6.foundation
				ul
					li: a(href="http://www.libero.pe/") libero.pe
					li: a(href="http://www.elpopular.pe/") elpopular	
					li: a(href="http://fundacionmohme.org/") fundación gustavo mohme llona
			.col-lg-7.col-md-6.col-sm-6-col-xs-6
				.social.col-lg-8.col-md-6.col-sm-6-col-xs-6
					.suscribe.btn suscríbete al boletín
					a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-facebook
					a(href="https://twitter.com/larepublica_pe?lang=es"): i.fa.fa-twitter
					a(href="https://plus.google.com/+larepublica/posts"): i.fa.fa-google-plus
					a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-envelope
					a(href="https://www.facebook.com/larepublicape/?fref=ts"): i.fa.fa-rss
				.search.col-lg-4.col-md-6.col-sm-6-col-xs-6
					form
						input(type='search', placeholder='BUSCAR')
header
	.container
		.row
			.col-lg-5
				img(src="assets/image/logo-la-republica.jpg", alt="logo-la-republica")
			.col-lg-2
				.sunday HABLA LA LIDERESA DEL NACIONALISMO
			.col-lg-5
				.col-lg-3
					img(src="assets/image/img_editorial_text.jpg", alt="")
				.col-lg-7
					h4 La Corrupción, los orígenes
					h5 por: Gustavo Mohme Llona	
				.col-lg-2
					img(src="assets/image/img_author.jpg", alt="")
	.container
		.row
		ul.nav.navbar-nav
			li.active
				a(href='#') POLITICA
			li
				a(href='#about') ECONOMIA
			li
				a(href='#contact') SOCIEDAD
			li
				a(href='#contact') ELECC. REGIONALES
			li
				a(href='#contact') DEPORTES
			li
				a(href='#contact') CHAMPIONS L.
			li
				a(href='#contact') ESPECTACULOS
			li
				a(href='#contact') ED. IMPRESA
			li
				a(href='#contact') REGIONALES
			li.dropdown
				a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
					| MAS SECCIONES 
					span.caret
				ul.dropdown-menu
					li
						a(href='#') TV.
					li
						a(href='#') DOMINICAL
					li
						a(href='#') ESPECIALES
	.container
		.row
			.col-md-3
				h4 TEMAS DEL DIA
			.col-md-13
				a(data-slide="prev" href="#media" class="left carousel-control") <	
				ul.nav.nav-pills.nav-justified
					li
						a(href="#") Globos de oro
					li
						a(href="#") Youtube
					li
						a(href="#") PNP
					li
						a(href="#") Charlie Hebdo
					li
						a(href="#") FC Barcelona
					li
						a(href="#") Alianza Lima
					li
						a(href="#") Balon de Oro
					li
						a(href="#") Alianza Lima
					li
						a(href="#") Balón	
				a(data-slide="next" href="#media" class="right carousel-control") >