@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
body {
  font-family: "PT Sans", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 16px; }

.pd-0 {
  padding: 0; }

.mg-0 {
  margin: 0; }

.mgt-20 {
  margin-top: 20px; }

.blocktext {
  width: 100%;
  text-align: left;
  position: absolute;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(75%, black));
  background: -webkit-linear-gradient(top, transparent 0%, black 90%);
  height: 200px;
  bottom: 0px; }
  .blocktext a {
    position: absolute;
    bottom: 0; }

.block {
  position: relative; }

.rcdro {
  border: 2px solid #EEEEEE;
  margin-top: 20px; }

[src*="bullet.gif"] {
  margin-right: 18px;
  width: 6px;
  margin-top: -3px; }

[src*="ico_comment.png"] {
  margin-right: 5px;
  width: 15px;
  height: 15px; }

.fa {
  background: #EEEEEE;
  width: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 10px;
  padding: 5px 5px; }

.fa-facebook {
  font-size: 18px;
  color: #2E6296;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #2E6296; }

.fa-twitter {
  font-size: 18px;
  color: #55ACEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #55ACEE; }

.fa-google-plus {
  font-size: 18px;
  color: #B74033;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: 4px solid #B74033; }

.fa-camera, .fa-youtube-play, .fa-angle-double-down {
  color: #B74033;
  font-size: 18px;
  background-color: transparent; }

.fa-angle-double-down {
  font-size: 25px; }

.border-top1 {
  border-top: 5px solid #AA1801; }

.border-top2 {
  border-top: 5px solid #687888; }

.bg1 {
  background-color: #AA1801; }

.bg2 {
  background-color: #687888; }

.border-top1, .border-top2 {
  margin-top: 50px; }
  .border-top1 h3.oswald, .border-top1 h5.oswald, .border-top2 h3.oswald, .border-top2 h5.oswald {
    text-align: center;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    color: white;
    font-weight: lighter; }
  .border-top1 a > h3 > span, .border-top1 a > h5 > span, .border-top2 a > h3 > span, .border-top2 a > h5 > span {
    position: relative;
    top: -20px;
    padding: 2px 10px;
    letter-spacing: 1px; }
  .border-top1 a > h5 > span, .border-top2 a > h5 > span {
    top: -10px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #BA1414;
  border: none; }

.dropdown-menu {
  background-color: #BA1414; }

#banner {
  background-color: #F4F5F7;
  padding: 1% 0;
  font-size: 1rem; }
  #banner ul {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 3.5%;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold; }
  #banner li {
    display: inline-block;
    margin-right: 15px; }
    #banner li a {
      color: #9398A1;
      font-weight: bold; }
      #banner li a:hover {
        color: #BA1414;
        text-decoration: none;
        font-weight: bold; }
  #banner .foundation {
    margin-top: 1%; }

.social {
  margin-top: 4%; }
  .social .suscribe {
    background-color: #BA1414;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 5px;
    font-size: 1rem;
    margin-top: -2%; }
  .social a {
    margin-left: 20px;
    font-size: 1.3rem; }
    .social a i {
      font-size: 20px; }
  .social .fa-facebook {
    color: #487DA8; }
  .social .fa-twitter {
    color: #46B5D9; }
  .social .fa-google-plus {
    color: #D90000; }
  .social .fa-envelope {
    color: #FFEA56; }
  .social .fa-rss {
    color: #E28F32; }

.search {
  border-left: solid 2px #d7dce1;
  border-right: solid 2px #d7dce1;
  width: 21%;
  margin-top: 2%;
  margin-left: 9%; }
  .search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    background: transparent url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 65px center;
    border: none;
    padding: 9px 10px 9px 10px;
    width: 70px;
    transition: all .5s; }
    .search input[type=search]:hover {
      background: none; }
    .search input[type=search]:focus {
      width: 130px;
      background-color: #fff;
      border: none;
      -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }
    .search input[type=search]::-webkit-input-placeholder {
      color: #999; }

#intro .logo {
  padding: 3%; }
#intro .quotes {
  margin-top: 2.5%; }
  #intro .quotes .sunday {
    border: solid 2px #eaeaea;
    border-bottom: solid 2px #941010;
    padding: 0 10px 0 10px;
    float: right; }
    #intro .quotes .sunday p {
      font-weight: bold;
      font-size: 14px; }
    #intro .quotes .sunday span {
      background-color: #941010;
      padding: 3%;
      color: #fff;
      font-weight: bold;
      position: relative;
      top: -10px; }
#intro .editorial {
  padding: 10px 0;
  position: relative;
  margin-top: 10px; }
  #intro .editorial .image {
    background-color: #2c3238;
    padding: 6px 4px;
    position: absolute;
    width: 100%; }
  #intro .editorial .title {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    border-radius: 15px;
    position: absolute;
    left: 7%;
    padding: 2% 3% 3% 0%;
    width: 84%;
    text-align: center;
    height: 62px; }
  #intro .editorial p:nth-child(1) {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 19px; }
  #intro .editorial p:nth-child(2) {
    font-style: italic;
    margin-bottom: 0; }
  #intro .editorial img:nth-child(3) {
    position: absolute;
    right: 0;
    top: 5px;
    right: -1px; }

header .navbar-nav {
  background-color: #BA1414;
  border-radius: 5px; }
  header .navbar-nav li a, header .navbar-nav .three ol.carousel-indicators li.active a, .three ol.carousel-indicators header .navbar-nav li.active a {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: solid 3px rgba(115, 10, 10, 0.88); }
    header .navbar-nav li a:hover, header .navbar-nav .three ol.carousel-indicators li.active a:hover, .three ol.carousel-indicators header .navbar-nav li.active a:hover {
      background-color: rgba(115, 10, 10, 0.88);
      color: #fff; }
header .list2 {
  margin-top: 2%; }
  header .list2 .tema {
    background-color: #111417;
    color: #fff;
    width: 12%;
    padding: 7px; }
    header .list2 .tema h4 {
      font-size: 14px;
      font-family: "Oswald", sans-serif; }
  header .list2 .lista {
    background-color: #e4e7ea;
    width: 88%;
    padding: 0.8%; }
    header .list2 .lista .carousel-control {
      background-image: none;
      width: 1%;
      margin-left: -9px;
      margin-top: -5px; }
    header .list2 .lista .left {
      float: left; }
    header .list2 .lista i {
      color: gray;
      font-size: 10px; }
    header .list2 .lista a {
      color: black;
      padding: 1.3%; }

footer {
  background-color: #eaeaea;
  padding: 3%; }
  footer .logo {
    margin-top: 11%; }
    @media (min-width: 200px) {
      footer .logo {
        text-align: center; }
        footer .logo img {
          margin: 0 auto; } }
    footer .logo h3 {
      font-weight: bold;
      font-family: "PT Sans", sans-serif; }
    footer .logo p {
      margin: 0; }
      footer .logo p:nth-child(5) {
        margin-bottom: 8%; }
  footer .content {
    border-left: solid 2px gray; }
  footer .lista {
    list-style-type: none;
    padding-left: 2%;
    padding-right: 0; }
    footer .lista a {
      color: #535353;
      font-size: 13px; }
      footer .lista a:hover {
        color: #BA1414;
        text-decoration: none;
        font-weight: bold; }

.one h1 {
  font-size: 63px;
  font-weight: 700; }
.one h6 {
  font-weight: 700;
  color: #687888; }
.one .col-md-12 img {
  width: 100%; }

.two a {
  color: #FEFCFC; }
.two img {
  width: 100%; }
.two .block h1, .two .block h3 {
  margin-left: 20px;
  font-weight: 700;
  text-shadow: 2px 2px 2px black; }
.two .block h1 {
  margin-top: 70px; }
.two .block h3 {
  margin-top: 105px; }
.two .col-md-6 .block {
  margin-bottom: 20px; }

.three {
  background-color: #EEEEEE;
  padding: 10px 20px; }
  .three .col-xs-6 img {
    border: 5px solid white; }
  .three .col-xs-6:nth-child(2n+2) h6 {
    text-decoration: underline; }
  .three .col-xs-6 h6 {
    font-size: 13px; }
  .three .col-xs-6 h6, .three .col-xs-6 h5 {
    font-weight: 700; }
  .three ol.carousel-indicators {
    position: relative;
    left: 0;
    z-index: 15;
    padding-left: 0;
    text-align: center;
    list-style: none;
    bottom: 0;
    margin: 0 auto; }
    .three ol.carousel-indicators li, .three ol.carousel-indicators li.active {
      background-color: #687888;
      width: 15px;
      height: 15px;
      margin: 0; }
    .three ol.carousel-indicators li.active {
      background-color: #AA1801; }

.four {
  padding: 25px 0px;
  text-align: center; }
  .four .rcdro {
    margin-bottom: 20px; }
  .four h4 {
    color: #B74033;
    font-weight: 700;
    margin: 15px 0px; }
  .four h5 {
    margin: 10px 0; }
  .four img {
    width: 100%; }
  .four .blocktext h4 {
    margin-left: 10px;
    color: white;
    font-weight: 700;
    text-shadow: 2px 2px 2px black;
    font-size: 20px; }

.five a {
  color: #1F1F1F; }
.five .rcdro {
  padding: 10px 5px 0px; }
.five .noticias h4 {
  font-weight: 700; }
.five .noticias h4:nth-child(1) {
  font-family: "Oswald", sans-serif;
  color: #687888;
  font-weight: lighter; }
.five .columnas h3, .five .columnas h4, .five .columnas h5, .five .columnas h6 {
  font-weight: 700; }
.five .media {
  margin-bottom: 25px; }
.five .colum-otros a img:hover {
  border: 3px solid #687888;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease; }
.five .colum-otros .media-body a {
  color: #1F1F1F; }
.five .aweita .btn-last h5 {
  margin: 0; }
.five .aweita .btn-last span {
  border-bottom: 6px solid #872F85;
  display: inline-block;
  padding-bottom: 10px;
  padding: 10px; }
  .five .aweita .btn-last span a {
    color: #872F85; }
.five .libero .btn-last h5 {
  margin: 0; }
.five .libero .btn-last span {
  border-bottom: 6px solid #D62247;
  display: inline-block;
  padding-bottom: 10px;
  padding: 10px; }
  .five .libero .btn-last span a {
    color: #D62247; }
.five .popular .btn-last h5 {
  margin: 0; }
.five .popular .btn-last span {
  border-bottom: 6px solid #FBE652;
  display: inline-block;
  padding-bottom: 10px;
  padding: 10px; }
  .five .popular .btn-last span a {
    color: #FBE652; }
.five .wapa .btn-last h5 {
  margin: 0; }
.five .wapa .btn-last span {
  border-bottom: 6px solid #B42060;
  display: inline-block;
  padding-bottom: 10px;
  padding: 10px; }
  .five .wapa .btn-last span a {
    color: #B42060; }
.five .fotos-destacadas a h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  color: #1F1F1F; }
.five .bg-rayas:nth-child(1) input {
  width: 90%;
  background-color: #EEEEEE;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin: 0 auto;
  border: 3px solid #E0E0E0;
  border-top: 3px solid #969696;
  border-left: 3px solid #BCBCBC;
  height: 35px; }
.five .fotos-especiales .box {
  position: relative;
  margin-bottom: 20px; }
.five .fotos-especiales img {
  width: 100%;
  height: 138px; }
.five .fotos-especiales .box-text2 {
  position: absolute;
  bottom: 5px;
  left: 18px;
  width: 260px;
  background-color: rgba(254, 252, 252, 0.8); }
  .five .fotos-especiales .box-text2 h5 {
    margin: 10px 5px;
    font-weight: 700; }
  .five .fotos-especiales .box-text2 a {
    color: black; }
.five .ourblogueros img {
  height: 60px;
  border: #FEFCFC 3px solid;
  box-shadow: 3px 3px 1px rgba(31, 31, 31, 0.5);
  -webkit-box-shadow: 3px 3px 1px rgba(31, 31, 31, 0.5);
  -moz-box-shadow: 3px 3px 1px rgba(31, 31, 31, 0.5); }
.five .ourblogueros h6 {
  text-decoration: underline; }
.five .impresa a h5 {
  color: #AA1801; }
.five .impresa .media-body {
  vertical-align: middle; }
.five a.btn-red {
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  width: 90%;
  background-color: #BA1414;
  margin: 15px auto;
  color: #FEFCFC;
  font-weight: 700;
  font-size: 16px;
  padding: 3px 0px; }

.bg-rayas {
  background: url("../image/trama_square.png") repeat;
  padding: 50px 10px 20px; }
  .bg-rayas .box-text {
    background-color: white;
    padding: 40px 15px 15px; }
    .bg-rayas .box-text span.img-circle {
      display: block;
      margin: -81px 0 19px; }
  .bg-rayas [src*="img_sd_reporteroc.jpg"] {
    width: 100%; }

/*TODOS LOS MIXINS*/
/*--fin--*/
.banner-header {
  width: 100%; }

.box-columnistas-1 {
  background: #E2E6E9;
  border: #778793;
  padding: 5%;
  width: 90%;
  position: absolute;
  bottom: 5%; }
  .box-columnistas-1:hover {
    background: transparent;
    border: 2px solid rgba(226, 230, 233, 0.65);
    z-index: 5; }
  .box-columnistas-1 img {
    width: 45px;
    border: 2px solid white;
    margin-right: 7px;
    margin-top: 5px; }
  .box-columnistas-1 small {
    font-size: 0.7em;
    font-family: 'Oswald';
    color: black;
    font-weight: bold; }
  .box-columnistas-1 p {
    font-size: 1em;
    font-family: 'PT Sans';
    color: #778793;
    font-weight: bold; }

#ultimos-columnistas {
  margin: 1% 0;
  width: 100%;
  /*fin*/ }
  #ultimos-columnistas h1 {
    font-family: 'PT Sans';
    margin-top: 10px; }
  #ultimos-columnistas h3 {
    font-family: 'Oswald';
    color: #778793;
    padding-bottom: 2%; }
  #ultimos-columnistas .thumbnail:hover, #ultimos-columnistas .box-team:hover {
    transition: all .2s ease-in-out; }
  #ultimos-columnistas .box-team {
    width: 100%;
    height: 220px;
    margin-bottom: 10%;
    border-radius: 0;
    padding: 10% 5% 5%;
    position: relative; }
    #ultimos-columnistas .box-team small {
      font-family: 'PT Sans'; }
    #ultimos-columnistas .box-team h4 {
      font-family: 'Oswald'; }
  #ultimos-columnistas .bt-fr > button {
    background: #BA1414;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 5px 25px;
    font-family: 'PT Sans'; }
    #ultimos-columnistas .bt-fr > button:hover {
      background: transparent;
      border: 2px solid #BA1414;
      color: #BA1414; }

#todo-columnistas {
  margin-bottom: 1%; }
  #todo-columnistas h3 {
    font-family: 'Oswald';
    color: #778793; }
  #todo-columnistas .col-md-3 {
    padding: 0 1px; }
  #todo-columnistas .box-columnistas {
    background: #E2E6E9;
    padding: 3%;
    height: 70px;
    width: 100%;
    margin-bottom: 1%;
    padding-right: 1px; }
    #todo-columnistas .box-columnistas:hover {
      background: white;
      border: 1px solid #E2E6E9; }
    #todo-columnistas .box-columnistas img {
      width: 40px;
      margin-right: 10px;
      border: 1px solid white;
      float: left;
      margin-top: 8px; }
    #todo-columnistas .box-columnistas small {
      font-size: 0.7em;
      font-family: 'Oswald';
      color: black; }
    #todo-columnistas .box-columnistas p {
      font-size: 0.8em;
      font-family: 'PT Sans';
      color: #778793;
      font-weight: bold; }

.nav-pager {
  background: #B71901;
  margin-bottom: 1%; }
  .nav-pager ul > li > a, .nav-pager .three ol.carousel-indicators ul > li.active > a, .three ol.carousel-indicators .nav-pager ul > li.active > a {
    background: #B71901;
    border: none;
    border-radius: 18px;
    color: white;
    font-family: 'PT Sans';
    margin: 0 5px;
    padding: 3px 18px; }
  .nav-pager ul > li > a:hover, .nav-pager .three ol.carousel-indicators ul > li.active > a:hover, .three ol.carousel-indicators .nav-pager ul > li.active > a:hover {
    background: #D90000; }
  .nav-pager .bt-1 {
    background: #811101;
    border: none;
    color: white;
    padding: 3px 18px;
    border-radius: 18px; }

@media (min-width: 701px) and (max-width: 940px) {
  #ultimos-columnistas .col-xs-4 {
    width: 30%;
    margin-left: 1%; }
  #ultimos-columnistas .box-team {
    padding: 18% 5% 5%; }
    #ultimos-columnistas .box-team h4 {
      font-size: 1.2em; }
  #ultimos-columnistas .box-columnistas-1 {
    padding: 2%; } }
@media (min-width: 481px) and (max-width: 700px) {
  #ultimos-columnistas .col-xs-4 {
    width: 70%;
    text-align: center;
    margin-left: 14%; }
  #ultimos-columnistas .box-team {
    padding: 5% 5% 5%; }
    #ultimos-columnistas .box-team h4 {
      font-size: 1em; }
    #ultimos-columnistas .box-team img {
      width: 100%; }
    #ultimos-columnistas .box-team .box-columnistas-1 {
      padding: 2%; }
      #ultimos-columnistas .box-team .box-columnistas-1 small {
        font-size: 1.2em; }
      #ultimos-columnistas .box-team .box-columnistas-1 p {
        font-size: 1.7em; }
  #ultimos-columnistas .nav-pager ul li a {
    padding: 1px;
    font-size: 0.9em;
    display: inline-block;
    font-family: 'PT Sans';
    margin: 0; } }
@media (min-width: 0px) and (max-width: 480px) {
  #ultimos-columnistas {
    margin: 0 3px; }
    #ultimos-columnistas .col-xs-4 {
      width: 100%;
      text-align: center; }
    #ultimos-columnistas .box-team {
      padding: 7% 5% 5%; }
      #ultimos-columnistas .box-team h4 {
        font-size: 1em; }
      #ultimos-columnistas .box-team img {
        width: 60px; }
      #ultimos-columnistas .box-team .box-columnistas-1 {
        padding: 2%; }

  #todo-columnistas .nav-pager ul li a {
    padding: 2px 6px;
    font-size: 0.6em;
    display: inline-block;
    font-family: 'PT Sans'; } }
#contact h1 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  color: #000;
  font-size: 60px;
  margin: 4% 0 4% 0; }
#contact p {
  font-size: 16.5px;
  text-align: justify;
  margin-bottom: 6%; }
#contact form input {
  border: 1px solid #969696;
  margin-bottom: 5%;
  background-color: #eeeeee;
  box-shadow: inset 5px 4px 8px 2px #969696;
  -webkit-box-shadow: inset 5px 4px 8px 2px #969696;
  -moz-box-shadow: inset 5px 4px 8px 2px #969696;
  -o-box-shadow: inset 5px 4px 8px 2px #969696; }
#contact form .m0 {
  margin-bottom: 0; }
#contact .opciones {
  margin-bottom: 4%; }
  #contact .opciones h4 {
    margin-left: 4%;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 20px; }
  #contact .opciones .ejemplos {
    margin-top: 12px; }
    #contact .opciones .ejemplos .ejem {
      font-size: 12px;
      margin-bottom: 2%; }
#contact .send {
  margin-bottom: 5%; }
  #contact .send textarea {
    border: 1px solid #969696;
    margin-bottom: 5%;
    background-color: #eeeeee;
    box-shadow: inset 5px 4px 8px 2px #969696;
    -webkit-box-shadow: inset 5px 4px 8px 2px #969696;
    -moz-box-shadow: inset 5px 4px 8px 2px #969696;
    -o-box-shadow: inset 5px 4px 8px 2px #969696; }
  #contact .send a {
    background-color: #141414;
    padding: 2% 8% 2% 8%;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    font-size: 18px; }
    #contact .send a:hover {
      border: 4px solid #BA1414;
      color: #BA1414;
      font-weight: bold;
      background-color: transparent;
      text-decoration: none; }

@media (min-width: 768px) {
  .container {
    width: 740px; } }
@media (min-width: 960px) {
  .container {
    width: 980px; } }
@media (min-width: 1100px) {
  .container {
    width: 980px; } }

/*# sourceMappingURL=main.css.map */
