@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);
* {
  font-family: "PT Sans", sans-serif; }

#banner {
  background-color: #F4F5F7;
  padding: 1% 0;
  font-size: 1rem; }
  #banner ul {
    list-style-type: none;
    padding-left: 0;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 3.5%;
    font-size: 12px;
    font-family: "PT Sans", sans-serif;
    font-weight: bold; }
  #banner li {
    display: inline-block;
    margin-right: 15px; }
    #banner li a {
      color: #9398A1;
      font-weight: bold; }
  #banner .foundation {
    margin-top: 1%; }

.social {
  margin-top: 4%; }
  .social .suscribe {
    background-color: #ba1414;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 5px;
    font-size: 1rem;
    margin-top: -2%; }
  .social a {
    margin-left: 20px;
    font-size: 1.3rem; }
    .social a i {
      font-size: 20px; }
  .social .fa-facebook {
    color: #487DA8; }
  .social .fa-twitter {
    color: #46B5D9; }
  .social .fa-google-plus {
    color: #D90000; }
  .social .fa-envelope {
    color: #FFEA56; }
  .social .fa-rss {
    color: #E28F32; }

.search {
  border-left: solid 2px #d7dce1;
  border-right: solid 2px #d7dce1;
  width: 21%;
  margin-top: 2%;
  margin-left: 9%; }
  .search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "PT Sans", sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    background: transparent url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 65px center;
    border: none;
    padding: 9px 10px 9px 10px;
    width: 70px;
    transition: all .5s; }
    .search input[type=search]:hover {
      background: none; }
    .search input[type=search]:focus {
      width: 130px;
      background-color: #fff;
      border: none;
      -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      -moz-box-shadow: 0 0 5px rgba(109, 207, 246, 0.5);
      box-shadow: 0 0 5px rgba(109, 207, 246, 0.5); }
    .search input[type=search]::-webkit-input-placeholder {
      color: #999; }

#intro .logo {
  padding: 3%; }
#intro .quotes {
  margin-top: 2.5%; }
  #intro .quotes .sunday {
    border: solid 2px #eaeaea;
    border-bottom: solid 2px #941010;
    padding: 0 10px 0 10px;
    float: right; }
    #intro .quotes .sunday p {
      font-weight: bold;
      font-size: 14px; }
    #intro .quotes .sunday span {
      background-color: #941010;
      padding: 3%;
      color: #fff;
      font-weight: bold;
      position: relative;
      top: -10px; }

header .navbar-nav {
  background-color: #ba1414;
  border-radius: 5px; }
  header .navbar-nav li a {
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 8px;
    border-right: solid 3px rgba(115, 10, 10, 0.88); }
    header .navbar-nav li a:hover {
      background-color: rgba(115, 10, 10, 0.88);
      color: #fff; }
header .list2 {
  margin-top: 2%; }
  header .list2 .tema {
    background-color: #111417;
    color: #fff;
    width: 12%; }
    header .list2 .tema h4 {
      font-size: 14px;
      font-family: "Oswald", sans-serif; }
  header .list2 .lista {
    background-color: #e4e7ea;
    width: 88%;
    padding: 0.8%; }
    header .list2 .lista .carousel-control {
      background-image: none; }
    header .list2 .lista .left {
      float: left; }
    header .list2 .lista i {
      color: gray;
      font-size: 10px; }
    header .list2 .lista a {
      color: black;
      padding: 1.3%; }

/*# sourceMappingURL=main.css.map */
