include views/helpers/variables
include views/helpers/mixins
doctype html
html(lang="en")
	head
		include views/head
	body
		include views/header
		include views/contactus.jade
		include views/footer
	script(type='text/javascript', src='assets/js/jquery.js')
	script(type='text/javascript', src='assets/js/bootstrap.min.js')
	script(type='text/javascript', src='assets/js/html5-respond.js')
	script(type='text/javascript', src='assets/js/respond.js')
	script(type='text/javascript', src='assets/js/slick.min.js')
	script(type='text/javascript', src='assets/js/modernizr.custom.68172.js')
	script(type='text/javascript', src='assets/js/bootstrap-hover-dropdown.min.js')
