doctype html
html(lang='es-PE')
  include elements/head  
  body
    include helpers/mixins
    section.block.text-center
        .container
            .row
                h1 GUERRA EN LA MUNICIPALIDAD DE LIMA METROPOLITANA
                ul.list-inline
                    li
                        i.fa.fa-facebook
                        i.fa.fa-twitter
                        i.fa.fa-google-plus
                    +blocklista("bullet.gif","Hace 12 minutos") 
                    +blocklista("bullet.gif","POLÍTICA")
            .row 
                .col-md-8
                    +blockimage("img_grid_principal.jpg",1,"JNE impulsará campaña a favor  de la aprobación de la Reforma Electoral") 
                .col-md-8
                    +blockimage("img_grid_secundario.jpg",2,"Martín Belaunde Lossio: Empresas vinculadas al empresario contrataron por S/. 3000 millones | FOTOS")
                    +blockimage("img_grid_secundario.jpg",2,"Sub 20: Perú vs. Paraguay: bicolor empató 1-1 y pasó al hexagonal final del Sudamericano | VIDEO")
            .row
                #myCarousel.carousel.slide(data-ride='carousel')
                    ol.carousel-indicators
                        li.active(data-target='#myCarousel', data-slide-to='0')
                        li(data-target='#myCarousel', data-slide-to='1')
                        li(data-target='#myCarousel', data-slide-to='2')
                        li(data-target='#myCarousel', data-slide-to='3')
                    .carousel-inner(role='listbox')
                        .item.active  fffff
                        .item fffff
                        .item fffff
                        .item fffff
                    a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                        span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
                        span.sr-only Previous
                     a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
                        span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
                        span.sr-only Next
    include elements/script

                 