
//Fonts
$bodyfont:'PT Sans' sans-serif;
$title:'Oswald' sans-serif;

//Colors

$background-gray: #eaeaea; 

$color1:#AA1801; //color vino red columnistas
$color2:#C33C2D; // color red light texto- icon youtube camera
$color3:#BA1414; // color rojo botones
$color4:#2E6296; // color azul facebook
$color5:#55ACEE; // color celeste twitter
$color6:#B74033; // color red google plus
$color7:#687888; // color plomo text ejm ESPECTACULOS
$color8: #FEFCFC; // color blanco text btn ejm
$color9:#EEEEEE; // color plomo input
$color10: #E0E0E0; // color plomo borde
$color11:#1F1F1F; // casi negro
$color12:#872F85; // morado aweita
$color13:#D62247; // rosado libero
$color14:#FBE652; // amarillo popular
$color15:#B42060; // rosado wapa

$pt-sans: 'PT Sans' sans-serif;
$oswald: 'Oswald' sans-serif;

