footer{
	background-color: $background-gray;
	.logo{
		margin-top: 15%;
		h3{
			font-weight: bold;
			font-family: $bodyfont;
		}
		p{
			margin: 0;
			&:nth-child(5){
				margin-bottom: 8%;
			}
		}
	}
	.content{
		border-left: solid 2px gray;
	}
	.lista{
		list-style-type: none;
		padding-left: 2%;
		a{
			color: #000;
		}
	}
}