.one{
	h1{
		font-size: 63px;
		font-weight: 700;
	}
	h6{
		font-weight: 700;
		color:$color7;
	}
	.col-md-12 img{
		width: 100%;
	}
}

.two{
	a{
		color:$color8;
	}
	
	img{
		width: 100%;
	}
	.block{
		h1,h3{
			margin-left:20px;
			font-weight: 700;
			text-shadow: 2px 2px 2px black;
		}
		h1{
			margin-top:70px;
		}
		h3{
			margin-top:105px;
		}
	}
	.col-md-6{
		.block{
			margin-bottom:20px;
		}
	}
}
.three{
	background-color:$color9;
	padding:10px 20px;
	.col-xs-6{
		img{
			border:5px solid white;
		}
		&:nth-child(2n+2) h6{
			text-decoration: underline;
		}
		h6{
			font-size: 13px;
		}
		h6, h5{
			font-weight:700;	
		}
	}

	ol.carousel-indicators {
		position:relative;
		left: 0;
		z-index: 15;
		padding-left: 0;
		text-align: center;
		list-style: none;
		bottom:0;
		margin:0 auto;
		li{
			background-color:$color7;
			width: 15px;
			height: 15px;
			margin:0;
		}
		li.active{
			@extend li;
			background-color:$color1;
		}
	}
}
.four{
	padding: 25px 0px;
	text-align:center;
	.rcdro{
		margin-bottom: 20px;
	}
	h4{
		color:$color6;
		font-weight: 700;
		margin: 15px 0px;
	}	
	h5{
		margin: 10px 0;
	}	
	img{
		width: 100%;
	}
	.blocktext{
		
		h4{
			margin-left: 10px;
			color:white;
			font-weight:700;
			text-shadow: 2px 2px 2px black;
			font-size: 20px;				
		}
	}

}
.five{
	a{
		color:$color11;
	}
	.rcdro{
		padding:10px 5px 0px;
	}
	.noticias{
		h4{
			font-weight: 700;
		}
		h4:nth-child(1){
			font-family: $oswald;
			color:$color7;
			font-weight: lighter;
		}

	}
	.columnas{
		h3,h4,h5,h6{
			font-weight: 700;
		}
	}

	.media{
		margin-bottom:25px;
	}
	.colum-otros{
		a img:hover{
			border:3px solid $color7;
			@include transition(0.5s);
		}
		.media-body{
			a{
				color:$color11;
			}
		}
	}
	.aweita{
		@include btn-last($color12);
	}
	.libero{
		@include btn-last($color13);
	}
	.popular{
		@include btn-last($color14);
	}
	.wapa{
		@include btn-last($color15);
	}	

	.fotos-destacadas{
		a h4{
			font-family: $pt-sans;
			font-weight:700;
			color:$color11;
		}
	}
	.bg-rayas:nth-child(1)	input{
		width: 90%;
		background-color:$color9;
		@include radius(5px);
		margin: 0 auto;
		border:3px solid $color10;
		border-top:3px solid #969696;
		border-left:3px solid #BCBCBC;
		height: 35px;
	}
	.fotos-especiales{
		.box{
			position:relative;	
			margin-bottom: 20px;	
		}
		img{
			width: 100%;
			height: 138px;
		}

		.box-text2{
			position:absolute;
			bottom:5px;
			left:18px;
			width: 260px;
			background-color:rgba($color8,0.8);
			h5{
				margin:10px 5px;
				font-weight: 700;
			}
			a{
				color:black;
			}
		}
	}
	.ourblogueros{
		img{
			height: 60px;
			border: $color8 3px solid;
			box-shadow: 3px 3px 1px rgba($color11, 0.5);
			-webkit-box-shadow: 3px 3px 1px rgba($color11, 0.5);
			-moz-box-shadow: 3px 3px 1px rgba($color11, 0.5);
		}
		h6{
			text-decoration: underline;
		}
	}
	.impresa{
		a h5{
			color:$color1;
		}
		.media-body{
			vertical-align: middle;
		}

	}

	a.btn-red{
		display:block;
		@include radius(5px);
		width: 90%;
		background-color:$color3;
		margin:15px auto;
		color:$color8;
		font-weight:700;
		font-size:16px;
		padding:3px 0px;
	}
}
.bg-rayas{
	@include bg("../image/trama_square.png");
	padding:50px 10px 20px;
	.box-text{	
		background-color: white;
		padding: 40px 15px 15px;
		span.img-circle {
			display: block;
			margin: -81px 0 19px;	
		}
	}
	[src*="img_sd_reporteroc.jpg"] {
		width: 100%;
	}

}


